html
  include ../includes/bootstrap.jade
  body
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-12")
          div(class="d-flex ml-3 mt-3 mb-3")
            a(href="/")= `AWS`
            span(class="ml-1 mr-1")= " / "
            a(href="/s3")= `S3`
            span(class="ml-1 mr-1")= " / "
            a(href="/s3/create")= `Create bucket`
      div(class="container")
        div(class="row")
          h3="Create bucket"
        div(class="row")
          div(class="col-md-12")
            div(class="form-group")
              label="Bucket name"
              input(class="form-control", name="bucket-name")
        div(class="row d-flex justify-content-end")
          button(type="button", class="btn btn-success mb-5", onClick="save()")= "Create bucket"
    script(src='/javascripts/s3/s3-create.js')
    script(src='/javascripts/httpRequest.js')